<div class="user-details">
  <mat-list *ngFor="let item of usersList;">
      <mat-list-item class="u-text-align-center">
        <span class="mat-h2">Detalhes do usuário</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item >
        <span class="mat-h2">Nome: </span> <span class="mat-h3">{{ item.nome}}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span class="mat-h2">Email: </span> <span class="mat-h3">{{ item.email}}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span class="mat-h2">Telefone: </span> <span class="mat-h3">{{ formatarTelefone(item.telefone) }}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span class="mat-h2">Endereço: </span> <span class="mat-h3">{{ item.endereco | formatAdress }}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span class="mat-h2">Ativo: </span> <span class="mat-h3">{{ item.ativo | statusTransform }}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span class="mat-h2">Função: </span> <span class="mat-h3">{{ item.funcao }}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span class="mat-h2">Data de cadastro: </span> <span class="mat-h3">{{ item.dataCadastro | dateTransform }}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
  </mat-list>
</div>
